<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lk.mapper.PetMapper" >
  <resultMap id="BaseResultMap" type="com.lk.pojo.Pet" >
    <id column="petId" property="petid" jdbcType="INTEGER" />
    <result column="petName" property="petname" jdbcType="VARCHAR" />
    <result column="petBreed" property="petbreed" jdbcType="VARCHAR" />
    <result column="petSex" property="petsex" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    petId, petName, petBreed, petSex, birthday, `desc`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lk.pojo.PetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pet
    where petId = #{petid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pet
    where petId = #{petid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lk.pojo.PetExample" >
    delete from pet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lk.pojo.Pet" >
    insert into pet (petId, petName, petBreed, 
      petSex, birthday, desc
      )
    values (#{petid,jdbcType=INTEGER}, #{petname,jdbcType=VARCHAR}, #{petbreed,jdbcType=VARCHAR}, 
      #{petsex,jdbcType=CHAR}, #{birthday,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lk.pojo.Pet" >
    insert into pet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="petid != null" >
        petId,
      </if>
      <if test="petname != null" >
        petName,
      </if>
      <if test="petbreed != null" >
        petBreed,
      </if>
      <if test="petsex != null" >
        petSex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="petid != null" >
        #{petid,jdbcType=INTEGER},
      </if>
      <if test="petname != null" >
        #{petname,jdbcType=VARCHAR},
      </if>
      <if test="petbreed != null" >
        #{petbreed,jdbcType=VARCHAR},
      </if>
      <if test="petsex != null" >
        #{petsex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lk.pojo.PetExample" resultType="java.lang.Integer" >
    select count(*) from pet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pet
    <set >
      <if test="record.petid != null" >
        petId = #{record.petid,jdbcType=INTEGER},
      </if>
      <if test="record.petname != null" >
        petName = #{record.petname,jdbcType=VARCHAR},
      </if>
      <if test="record.petbreed != null" >
        petBreed = #{record.petbreed,jdbcType=VARCHAR},
      </if>
      <if test="record.petsex != null" >
        petSex = #{record.petsex,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.desc != null" >
        desc = #{record.desc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pet
    set petId = #{record.petid,jdbcType=INTEGER},
      petName = #{record.petname,jdbcType=VARCHAR},
      petBreed = #{record.petbreed,jdbcType=VARCHAR},
      petSex = #{record.petsex,jdbcType=CHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      desc = #{record.desc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lk.pojo.Pet" >
    update pet
    <set >
      <if test="petname != null" >
        petName = #{petname,jdbcType=VARCHAR},
      </if>
      <if test="petbreed != null" >
        petBreed = #{petbreed,jdbcType=VARCHAR},
      </if>
      <if test="petsex != null" >
        petSex = #{petsex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where petId = #{petid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lk.pojo.Pet" >
    update pet
    set petName = #{petname,jdbcType=VARCHAR},
      petBreed = #{petbreed,jdbcType=VARCHAR},
      petSex = #{petsex,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      desc = #{desc,jdbcType=VARCHAR}
    where petId = #{petid,jdbcType=INTEGER}
  </update>
</mapper>